@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body, html {
  margin: 0;
  color: #313133;
  font-size: 18px;
}

h1 {
  display: inline;
  color: #A670AF;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
}

.links {
  color: white;
  font-size: 18px;
}

.links:hover {
  color: #6FBD73;
}

.block-button {
  background-color: #A670AF;
  border: 0px;
  padding: 10px 20px;
  color: white;
}

/* -----HEADER----- */
.header-main {
  padding-right: 50px;
  background-color: #313133;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-logo {
  width: 225px;
}

.navbar {
  list-style: none;
  float: right;
}

.navbar li {
  padding: 20px;
  position: relative;
  color: #A670AF;
}

.navbar li:hover {
  color: white;
}

.navbar ul {
  /* Dropdown styling */
  list-style: none;
  position: absolute;
  left: -9999px;
  /*Hide off-screen when not hovered over*/
}

.navbar ul li {
  background-color: #313133;
  width: 300px;
  margin-left: -200px;
}

.navbar li:hover ul {
  /*Display the dropdown on hover*/
  /*Bring back on-screen when needed*/
  left: 0;
}

.header-drop-menu {
  color: white;
}

/* -----SIDEBAR----- */
.sidebar-main {
  width: 20%;
  float: left;
  background-color: #A670AF;
  padding-left: 5px;
  margin-top: -20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-main li {
  list-style: none;
}



/* -----LANDING----- */
.landing-main {
  text-align: center;
  margin-top: 120px;
}

.landing-nav {
  background-color: #A670AF;
  color: #101820;
  margin-top: 20px;
  font-size: 20px;
  font-kerning: 2px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}

.landing-nav a {
  color: #101820
}

/* -----LESSON----- */
.lesson-main {
  margin-left: 22%;
  margin-top: 120px;
  margin-right: 5px;
}

input {
  margin: 5px;
}

/* -----TOPICS MENU----- */

.topics-menu-main {
  text-align: center;
  margin-top: 120px;
}

.topics-description {
  padding: 20px;
}

.topics-menu {
  display: flex;
  flex-direction: row;
}

.topic {
  text-align: center;
  width: 30%;
}

.topic ul{
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

/* -----HTML/CSS/JS----- */
.individual-menu {
  margin-left: 25%;
  margin-top: 120px;
}


/* -----FOOTER----- */
.footer-main {
  background-color: #FFF5EE;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 80%;
  margin-left: 20%;
  padding: 10px;
}
