@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body, html {
  color: #313133;
  font-size: 18px;
  margin: 0;
}

.block-button {
  background-color: #A670AF;
  border: 0px;
  color: white;
  padding: 10px 20px;
}

.block-button:hover {
  background-color: white;
  border: 1px solid #101820;
  color: #A670AF;
  padding: 10px 20px;
}


/* -----SIDEBAR----- */
.sidebar-main {
  width: 20%;
  float: left;
  background-color: #A670AF;
  padding-left: 5px;
  margin-top: -20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-main li {
  list-style: none;
}

/* -----LANDING----- */
.landing-body {
  text-align: center;
  margin-top: 120px;
}

.landing-title {
  padding-top: 30px;
  margin-bottom: 50px;
}

.landing-nav {
  background-color: #A670AF;
  color: #101820;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  font-kerning: 2px;
  font-weight: bold;
  justify-content: space-around;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.landing-action {
  background-color: #313133;
  color: #FFFFFF;
  padding: 20px;
  width: 350px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #101820;
}

.landing-action:hover {
  background-color: white;
  border: 1px solid #101820;
  color: #A670AF;
}

.landing-content {
  margin: 20px;
}


/* -----LESSON----- */
.lesson-main {
  margin-left: 22%;
  margin-top: 120px;
  margin-right: 5px;
}

input {
  margin: 5px;
}

/* -----TOPICS MENU----- */

.topics-menu-body {
  text-align: center;
  margin-top: 120px;
}

.topics-description {
  padding: 20px;
}

.topics-menu-full {
  display: flex;
  flex-direction: row;
}

.topic {
  text-align: center;
  width: 30%;
}

.topic ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.topic-mobile {
  visibility: hidden;
}

/* -----HTML/CSS/JS----- */
.individual-menu {
  margin-left: 25%;
  margin-top: 120px;
}

/* -----LOGIN PAGES----- */
.login-main {
  margin-top: 120px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.login-section {
  display: flex;
  flex-direction: row;
}

.login-row {
  width: 50%;
  text-align: center;
}

#user_cohort {
  padding: 2px 3px;
  margin: 5px;
  width: 300px;
}

#user_firstname, #user_lastname, #user_email, #user_password,  #user_password_confirmation {
  width: 300px;
}

#user_remember_me {
  width: 10px;
}

/* -----FOOTER----- */
.footer-main {
  background-color: #FFF5EE;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 80%;
  margin-left: 20%;
  padding: 10px;
}

@import 'header.scss';


/* -----TABLET VIEWPORT----- */
@media (min-width:481px) and (max-width:959px) {
}


/* -----PHONE VIEWPORT----- */
@media screen and (max-width: 720px) {
  h1, h2 {
    font-size: 25px;
  }
  .header-main {
    padding-right: 0px;
    height: 85px;
  }
  .navbar, .devise-header-button {
    visibility: hidden;
  }
  .landing-title {
    padding-top: 0px;
  }
  .landing-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login-main {
    margin-top: 120px;
  }
  .login-section {
    display: block;
  }
  .login-row {
    width: 100%;
  }
  .sidebar-main {
    visibility: hidden;
    width: 0px;
  }
  .topics-menu-full {
    visibility: hidden;
    height: 0px;
  }
  .topics-menu-mobile {
    background-color: #A670AF;
    color: #101820;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    font-kerning: 2px;
    font-weight: bold;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .topic-nav-mobile {
    background-color: #A670AF;
    color: #101820;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    font-kerning: 2px;
    font-weight: bold;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .topic-nav-mobile:hover {
    background-color: white;
    border: 1px solid #101820;
    color: #A670AF;
  }
  .individual-menu {
    margin-left: 0%;
  }
  .topic-mobile {
    visibility: visible;
    background-color: #313133;
    color: #FFFFFF;
    padding: 20px;
    width: 350px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #101820;
  }
  .topic-mobile:hover {
    background-color: white;
    border: 1px solid #101820;
    color: #A670AF;
  }
}
